FreeOTP Android 2.0 no longer works with Apache Guacamole

Similar to Issue #295 FreeOTP Android 2.0 no longer works with Apache Guacamole.

The generated QR-Code is:
`otpauth://totp/test?secret=NLJSJ7GMYOMU2PUU63CCCMCLQ4SXOPXCCX36WSHZAWU4T3HD6GRQ%3D%3D%3D%3D&algorithm=SHA256&digits=6&period=30`

When I remove the '%3D' (equal signs) it works:
`otpauth://totp/test?secret=NLJSJ7GMYOMU2PUU63CCCMCLQ4SXOPXCCX36WSHZAWU4T3HD6GRQ&algorithm=SHA256&digits=6&period=30`

I guess it's a padding problem?
Is this a FreeOTP or Guacamole bug? The old FreeOTP Android 1.5 scans the code successfully.

Thank you for reporting this issue, it looks like a padding issue:

Per https://github.com/freeotp/freeotp-android/blob/master/URI.md#secret - The padding specified in [RFC 3548 section 2.2](https://tools.ietf.org/html/rfc3548#section-2.2) is not required and should be omitted.

I would like to have this fixed in FreeOTP to handle the padding appropriately.

